---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
---

<Layout title="pablopunk.com | Remote Developer">
	<div class="flex flex-col gap-12">
		<section class="mt-4 flex items-center justify-center gap-6 lg:mt-[20vh]">
			<div>
				<Image
					src="https://1.gravatar.com/avatar/8049fccc16616a1845d5b3733973f94768a07bdddade274d4110ca3ac5ae8217?size=120"
					inferSize
					alt="Pablo Varela"
					class="rounded-full border-2 border-accent-11"
				/>
			</div>
			<div class="flex flex-col">
				<h1 class="text-4xl font-bold">Pablo Varela</h1>
				<div>
					<h2
						class="bg-gradient-to-r from-accent-11 to-accent2-11 bg-clip-text text-3xl font-bold text-transparent"
					>
						Remote Developer
					</h2>
				</div>
				<div class="relative mt-2 text-lg">
					Currently working at <a
						href="https://maze.co/"
						class="text-accent2-11 transition-colors hover:text-accent2-12">Maze</a
					>.
				</div>
				<div class="relative text-sm">
					Previously, <a
						href="https://cv.pablopunk.com"
						class="text-accent2-11 transition-colors hover:text-accent2-12">somewhere else</a
					>.
				</div>
			</div>
		</section>
		<section class="flex flex-col items-center justify-center gap-6">
			<h2
				class="bg-gradient-to-r from-accent-11 to-accent2-11 bg-clip-text text-2xl font-bold text-transparent"
			>
				My projects
			</h2>
			<div class="flex flex-wrap justify-center gap-4">
				{
					[
						{
							name: "Swift Shift",
							href: "https://swiftshift.app",
							description: "Sweet window manager for macOS",
							image:
								"https://ik.imagekit.io/pablopunk/icons/swiftshift/128-mac.png?updatedAt=1705520877452",
							tag: "macOS",
							icon: (
								<svg
									stroke="currentColor"
									fill="currentColor"
									stroke-width="0"
									viewBox="0 0 384 512"
									height="1em"
									width="1em"
									xmlns="http://www.w3.org/2000/svg"
									data-darkreader-inline-fill=""
									data-darkreader-inline-stroke=""
									style="--darkreader-inline-fill: currentColor; --darkreader-inline-stroke: currentColor;"
								>
									<path d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z" />
								</svg>
							),
						},
						{
							name: "unclutter.nvim",
							href: "https://github.com/pablopunk/unclutter.nvim",
							description: "A smart tabline that helps you focus",
							image:
								"https://ik.imagekit.io/pablopunk/icons/unclutter%20icon.png?updatedAt=1705521973312",
							tag: "neovim",
							icon: (
								<svg
									stroke="currentColor"
									fill="currentColor"
									stroke-width="0"
									role="img"
									viewBox="0 0 24 24"
									height="1em"
									width="1em"
									xmlns="http://www.w3.org/2000/svg"
									data-darkreader-inline-fill=""
									data-darkreader-inline-stroke=""
									style="--darkreader-inline-fill: currentColor; --darkreader-inline-stroke: currentColor;"
								>
									<path d="M2.214 4.954v13.615L7.655 24V10.314L3.312 3.845 2.214 4.954zm4.999 17.98l-4.557-4.548V5.136l.59-.596 3.967 5.908v12.485zm14.573-4.457l-.862.937-4.24-6.376V0l5.068 5.092.034 13.385zM7.431.001l12.998 19.835-3.637 3.637L3.787 3.683 7.43 0z" />
								</svg>
							),
						},
						{
							name: "vimcolors.org",
							href: "https://vimcolors.org",
							description: "Generate your own vim colorschemes",
							image: "https://vimcolors.org/meta/favicon-96x96.png",
							tag: "website",
							icon: (
								<svg
									stroke="currentColor"
									fill="currentColor"
									stroke-width="0"
									viewBox="0 0 24 24"
									height="1em"
									width="1em"
									xmlns="http://www.w3.org/2000/svg"
									data-darkreader-inline-fill=""
									data-darkreader-inline-stroke=""
									style="--darkreader-inline-fill: currentColor; --darkreader-inline-stroke: currentColor;"
								>
									<>
										<path fill="none" d="M0 0h24v24H0V0z" />
										<path d="M19 4H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6a2 2 0 0 0-2-2zm0 14H5V8h14v10z" />
									</>
								</svg>
							),
						},
					].map((project) => (
						<a
							href={project.href}
							class="relative flex max-w-md items-center gap-3 rounded-lg border border-neutral-3 p-3 shadow-md transition-all hover:scale-105 hover:border-accent-9 hover:bg-accent-2"
						>
							<Image
								src={project.image}
								alt={project.name}
								width={32}
								height={32}
								class="rounded-md"
							/>
							<div>
								<h3 class="text-lg">{project.name}</h3>
								<p class="max-w-md text-sm font-normal text-neutral-11">{project.description}</p>
							</div>
							<div class="absolute right-2 top-2 flex items-center gap-2 align-middle text-neutral-10">
								<span class="text-sm">{project.tag}</span>
								<span>{project.icon}</span>
							</div>
						</a>
					))
				}
			</div>
		</section>
	</div>

	<style></style>
</Layout>
