---
import { Icon } from "astro-icon/components"
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"posts">
}
const { post } = Astro.props
---

<article class="mx-auto flex max-w-[700px] flex-col gap-2">
  {
    post.data.image.url_dark ? (
      <>
        <Image
          class="hidden w-[600px] max-w-[90vw] dark:block"
          src={post.data.image.url_dark}
          alt={post.data.image.alt}
          inferSize
          loading="eager"
        />
        <Image
          class="block w-[600px] max-w-[90vw] dark:hidden"
          src={post.data.image.url}
          alt={post.data.image.alt}
          inferSize
          loading="eager"
        />
      </>
    ) : (
      <Image
        class="w-[600px] max-w-[90vw]"
        src={post.data.image.url}
        alt={post.data.image.alt}
        inferSize
      />
    )
  }
  <h1 class="text-center font-serif text-3xl font-bold">{post.data.title}</h1>
  <span class="mb-6 flex items-center justify-center gap-1 text-sm text-accent-11">
    <Icon name="calendar" />
    by <b>{post.data.author}</b> on <b>{post.data.pubDate.toDateString()}</b></span
  >
  <slot />
</article>

<style is:global>
  article {
    position: relative;
  }
  article p {
    font-family:
      "Rubik Variable",
      -system-ui,
      sans-serif;
    text-wrap: pretty;
  }
  article img {
    max-width: 90%;
    margin: 2rem auto;
    border-radius: 0.25rem;
  }
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    margin-top: 1rem;
    font-family: "Literata Variable", serif;
    font-weight: bold;
    color: var(--accent2-12);
  }

  article h2 {
    font-size: 1.65rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--neutral-5);
    margin-bottom: 1rem;
  }
  article h3 {
    font-size: 1.35rem;
  }
  article h4,
  article h5,
  article h6 {
    font-size: 1.2rem;
  }

  article code {
    color: var(--accent2-11);
  }

  article a {
    color: var(--accent-11);
    font-weight: bold;
  }

  article pre {
    padding: 1rem;
    border-radius: 4px;
    max-width: 93vw;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }

  article blockquote {
    max-width: 100%;
    position: relative;
    background-color: var(--accent-3);
    padding: 0.75rem 1rem 0.75rem 2rem;
    border-left: 4px solid var(--accent-9);
    font-style: italic;
    font-size: 1.1rem;
    margin: 0.7rem 0;
    text-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  article blockquote:before {
    content: "“";
    font-size: 2rem;
    color: var(--accent-9);
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
  }

  article ul {
    list-style-type: square;
    padding-left: 2rem;
  }
</style>
